.history {
  margin-top: 20px;
  margin-left: 40px; }
  .history .historyImg img {
    height: 300px;
    width: auto;
    border-radius: 3px; }

.ceo {
  margin-top: 50px; }
  .ceo .ceoImg img {
    float: right;
    height: 170px;
    width: auto;
    margin-right: 250px;
    margin-top: 20px;
    border: 3px dashed #69D2E7;
    border-radius: 50%; }
  .ceo .ceoBio {
    margin-left: -45px;
    text-align: center; }
    .ceo .ceoBio h2 {
      text-align: center; }

.collab {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .collab h2 {
    font-size: 28px;
    color: #ff862e; }
  .collab .DNR img, .collab .brookvilleLake img, .collab .ainsleyCafe img, .collab .harborLinks img {
    background-color: #ff862e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; }
  .collab ul li {
    list-style: none; }
    .collab ul li h3 {
      font-family: "Oswald";
      font-size: 25px;
      color: #FA6900; }
    .collab ul li a {
      color: #69D2E7; }
  .collab img {
    height: 100px;
    width: auto; }

h2 {
  color: #FA6900; }

.btn-default {
  background-color: #69D2E7;
  color: white; }
  .btn-default a:hover {
    background-color: #FA6900;
    color: white; }

.productLine {
  margin-left: 270px; }
  .productLine ul li {
    margin-left: 30px;
    display: inline-block; }
    .productLine ul li button {
      margin-top: -10px; }

.Products img {
  height: 200px;
  width: auto;
  border-radius: 3px; }

.Products ul li {
  list-style: none;
  margin-top: 10px; }

.Header {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-bottom: 1px dotted #FA6900; }
  .Header ul {
    position: relative;
    top: 90px;
    margin-left: 20px;
    float: right; }
    .Header ul li {
      display: inline-block;
      font-size: 24px;
      margin-left: 48px;
      margin-bottom: 0px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
      .Header ul li a {
        color: #FA6900; }

.logo {
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block; }
  .logo img {
    height: 140px;
    margin-left: 198px;
    margin-top: -135px; }
  .logo .font {
    margin-left: -2px; }
    .logo .font h2 {
      font-size: 28px;
      width: 200px;
      color: #ff862e; }
    .logo .font .subfont {
      font-size: 63px;
      color: #69D2E7;
      margin-top: -25px;
      margin-left: -3px; }

.content {
  width: 100%; }

.slider {
  margin-top: 40px; }

.infoBox {
  margin-top: 80px;
  margin-left: 50px;
  text-align: center; }

.twitter-timeline {
  float: right;
  margin-right: 200px; }

footer {
  text-align: center;
  border-top: 2px solid #FA6900; }
  footer .bufferFoot {
    padding-top: 10px;
    padding-bottom: 30px;
    height: 80%; }
  footer .left {
    height: 80%;
    margin-top: 50px; }
    footer .left p {
      font-size: 18px; }
  footer .center {
    border-left: 2px dotted grey;
    border-right: 2px dotted grey;
    margin-top: 40px;
    height: 210px; }
    footer .center h3 {
      font-size: 40px;
      font-family: "Oswald", sans-serif;
      margin-top: 45px; }
    footer .center img {
      height: 60%;
      margin-top: -30px; }
  footer .right {
    margin-top: 110px; }
    footer .right p {
      font-size: 18px; }

.blogWire {
  display: inline-block; }
  .blogWire .content {
    background-color: #69D2E7;
    height: 300px;
    border-radius: 7px 7px 7px 7px;
    margin-top: 10px; }
  .blogWire .notch {
    position: absolute;
    top: 13px;
    left: -10px;
    margin: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #69D2E7;
    padding: 0;
    width: 0;
    height: 0; }
  .blogWire .header {
    margin-top: -10px; }
    .blogWire .header h3 {
      border-bottom: 1px solid white;
      padding-bottom: 15px; }
  .blogWire .top {
    padding-top: 10px; }
    .blogWire .top .bottom {
      margin-top: 15px;
      margin-left: 5px; }


#map {
  height: 300px;
  width: 600px;
}
.Dallas {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;

}
#weatherWidget {
  text-align: center;
}




