.Header {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-bottom: 1px dotted #FA6900; }
  .Header ul {
    position: relative;
    top: 90px;
    margin-left: 20px;
    float: right; }
    .Header ul li {
      display: inline-block;
      font-size: 14px;
      margin-left: 48px;
      margin-bottom: 0px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
      .Header ul li a {
        color: #FA6900; }

.logo {
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block; }
  .logo img {
    height: 110px;
    margin-left: 198px;
    margin-top: -175px; }
  .logo .font {
    margin-left: -2px; }
    .logo .font h2 {
      font-size: 28px;
      width: 200px;
      color: #ff862e; }
    .logo .font .subfont {
      font-size: 63px;
      color: #69D2E7;
      margin-top: -25px;
      margin-left: -3px; }

.content {
  background-color: #FA6900;
  width: 100%; }
