.history {
  margin-top: 20px;
  margin-left: 160px; }
  .history .historyImg img {
    height: 400px;
    width: auto;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 80px; }
  .history p {
    font-size: 23px; }

.ceo {
  margin-top: 50px;
  margin-bottom: 80px; }
  .ceo .ceoImg img {
    float: right;
    height: 250px;
    width: auto;
    margin-right: 150px;
    margin-top: 20px;
    border: 3px dashed #FA6900;
    border-radius: 50%; }
  .ceo .ceoBio {
    margin-left: -25px;
    text-align: center; }
    .ceo .ceoBio p {
      text-align: left;
      font-size: 23px;
      width: 90%; }
    .ceo .ceoBio h2 {
      text-align: left; }

.collab {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .collab h2 {
    font-size: 28px;
    color: #ff862e; }
  .collab .DNR img, .collab .brookvilleLake img, .collab .ainsleyCafe img, .collab .harborLinks img {
    background-color: #ff862e;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px; }
  .collab ul li {
    list-style: none; }
    .collab ul li h3 {
      font-family: "Oswald";
      font-size: 25px;
      color: #FA6900; }
    .collab ul li a {
      color: #69D2E7; }
  .collab img {
    height: 100px;
    width: auto; }
  .collab p {
    font-size: 23px; }

.Bayliner img, .Stingray img, .SabreYachts img, .Searay img {
  background-color: #ff862e;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px; }

ul li {
  list-style: none;
  text-align: center; }
  ul li h3 {
    font-family: "Oswald";
    font-size: 25px;
    color: #FA6900; }
  ul li a {
    color: #69D2E7; }

img {
  height: 100px;
  width: auto; }

.Searay img {
  width: 50%; }

.Companies {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px; }
  .Companies h3 {
    font-size: 25px;
    color: #ff862e; }
  .Companies p {
    font-size: 23px; }

h2 {
  color: #FA6900; }

.btn-default {
  background-color: #69D2E7;
  color: white; }
  .btn-default a:hover {
    background-color: #FA6900;
    color: white; }

.productLine {
  text-align: center;
  margin-left: -80px; }
  .productLine ul li {
    margin-left: 30px;
    display: inline-block; }
    .productLine ul li button {
      margin-top: -10px; }

.Products img {
  height: 250px;
  width: auto;
  border-radius: 3px;
  margin: auto;
  display: block; }

.Products ul {
  padding: 0; }
  .Products ul li {
    list-style: none;
    margin-top: 10px;
    width: auto; }
    .Products ul li p {
      font-size: 23px; }
    .Products ul li h4 {
      font-size: 30px;
      color: #69D2E7; }
    .Products ul li h5 {
      font-size: 26px; }

label {
  margin-top: 10px;
  color: #69D2E7; }
  label h3 {
    color: #FA6900; }

.btn-lg {
  float: right;
  margin-right: 145px;
  margin-top: -50px; }

.login button {
  margin-top: 20px; }

.Password input, .Username input {
  width: 50%;
  margin-top: 5px; }

.contentB {
  background-color: #ff862e;
  height: 250px;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 50px;
  margin-bottom: 30px; }

.notch {
  position: absolute;
  top: 21px;
  left: -20px;
  margin: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #FA6900;
  padding: 0;
  width: 0;
  height: 0; }

.header {
  margin-top: -10px;
  display: inline-block; }
  .header h3 {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    color: white; }
  .header h4 {
    color: white;
    opacity: 0.5;
    float: right;
    margin-top: -45px; }

.top {
  padding-top: 10px; }
  .top .bottom {
    margin-top: 15px;
    margin-left: 5px;
    color: white; }

.blog {
  color: white; }

.twitterIcon, .facebookIcon {
  height: 30px;
  width: 30px;
  float: right;
  margin-top: -50px;
  margin-right: 145px;
  margin-left: 10px; }

.twitterIcon {
  margin-right: 110px; }

.container {
  width: 990px; }

.Header {
  display: inline-block;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #FA6900; }
  .Header ul {
    position: relative;
    top: 90px;
    margin-left: 20px;
    float: right; }
    .Header ul li {
      display: inline-block;
      font-size: 24px;
      margin-left: 40px;
      margin-bottom: 0px;
      font-family: "Oswald", sans-serif;
      text-transform: uppercase; }
      .Header ul li a {
        color: #FA6900; }

.topContent .slider {
  margin-left: 140px; }

.logo {
  margin-top: 30px;
  margin-left: 40px;
  display: inline-block; }
  .logo img {
    height: 140px;
    margin-left: 198px;
    margin-top: -135px; }
  .logo .font {
    margin-left: -2px; }
    .logo .font h2 {
      font-size: 28px;
      width: 200px;
      color: #ff862e; }
    .logo .font .subfont {
      font-size: 63px;
      color: #69D2E7;
      margin-top: -25px;
      margin-left: -3px; }

.middleContent {
  width: 100%;
  margin-top: 80px; }

.slider {
  height: 400px;
  margin-top: 40px; }
  .slider img {
    height: 400px; }
  .slider .bx-viewport {
    height: 400px;
    style: none; }

.bx-wrapper {
  height: 400px; }

.infoBox {
  margin-top: 35px;
  margin-left: 50px;
  text-align: center; }
  .infoBox h1 {
    font-size: 38px;
    color: #FA6900; }
  .infoBox p {
    font-size: 18px;
    text-align: right;
    margin-top: -10px; }
  .infoBox .purchase {
    height: 40px;
    float: right;
    border-radius: 3px;
    background-color: #69D2E7; }
    .infoBox .purchase h3 {
      font-size: 16px;
      margin-top: 3px; }

.twitter-timeline {
  float: right;
  margin-right: 100px; }

footer {
  text-align: center;
  border-top: 2px solid #FA6900;
  height: 200px; }
  footer .bufferFoot {
    padding-top: 10px;
    padding-bottom: 30px;
    width: auto; }
  footer .left {
    margin-top: 20px; }
    footer .left h3 {
      color: #FA6900; }
    footer .left p {
      font-size: 18px;
      color: #20adca; }
    footer .left a {
      color: #FA6900; }
  footer .center {
    border-left: 2px dotted grey;
    border-right: 2px dotted grey;
    margin-top: 40px;
    height: 210px;
    padding-left: 20px;
    padding-right: 20px; }
    footer .center .font {
      font-size: 40px;
      margin-top: 60px;
      margin-left: 30px; }
    footer .center .subfont {
      font-size: 63px;
      color: #69D2E7;
      margin-top: -25px;
      margin-left: -3px; }
    footer .center img {
      height: 60%;
      margin-top: -130px;
      margin-right: -2px; }
  footer .right {
    margin-top: 90px; }
    footer .right p {
      font-size: 18px; }
    footer .right .socialFoot {
      margin: auto;
      display: inline-block; }
    footer .right .twitterIcon, footer .right .facebookIcon {
      margin-top: 0px;
      margin-left: 5px;
      margin-right: 0px; }

.blogcontent {
  margin-left: 90px; }

.blogButton {
  position: absolute;
  bottom: -20px;
  right: 53px;
  height: 40px;
  background-color: #69D2E7; }

.content {
  background-color: #ff862e;
  height: 250px;
  width: 92%;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 30px; }

.notch {
  position: absolute;
  top: 21px;
  left: -20px;
  margin: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 20px solid #FA6900;
  padding: 0;
  width: 0;
  height: 0; }

.header {
  margin-top: -10px;
  display: inline-block; }
  .header h3 {
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    color: white; }
  .header h4 {
    color: white;
    opacity: 0.5;
    float: right;
    margin-top: -50px; }

.top {
  padding-top: 10px; }
  .top .bottom {
    margin-top: 15px;
    margin-left: 5px;
    color: white; }

.emailForm {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: -50px; }
  .emailForm textarea {
    width: 300px;
    height: 80px; }

.blog {
  color: white; }

#map {
  height: 400px;
  width: 800px;
  margin-top: 25px;
  margin-bottom: 30px;
  margin-right: 90px; }

.Dallas {
  font-size: 18px;
  text-align: center;
  margin-top: 45px; }
  .Dallas i {
    margin-top: 5px;
    font-size: 20px;
    color: #FA6900; }
  .Dallas p {
    font-size: 20px; }
  .Dallas h3 {
    font-size: 26px;
    margin-top: 10px; }

.Contact {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 70px; }

form {
  text-align: center; }

#blogTitle {
  width: 400px; }

#blogContent {
  height: 200px;
  width: 800px; }

.widgetWe {
  display: block;
  margin: auto;
  float: right;
  margin-right: 10px;
  margin-top: 20px; }

.aw-widget-content {
  height: 110px;
  width: 120px; }

.aw-temp-time-desc {
  margin-left: 30px; }

#link_get_widget {
  display: none; }

.aw-current-weather-inner {
  height: 100px;
  width: 120px; }
  .aw-current-weather-inner span {
    display: none; }
  .aw-current-weather-inner p {
    visibility: hidden; }

.aw-icon {
  position: absolute; }

.aw-temperature-today {
  visibility: visible;
  position: absolute;
  top: -35px;
  left: 35px; }

.aw-widget-current-inner {
  width: 100px; }

.twitterIcon, .facebookIcon {
  height: 30px;
  width: 30px; }

a {
  color: white; }
