.history {
	margin-top:20px;
	margin-left:50px;

	.historyImg img {
		height: 350px;
		width: auto;
		border-radius: 3px;
		margin-top: 70px;
		margin-left: 10px;
	}
	p {
		font-size: 20px;
	}
}

.ceo {
	margin-top:60px;
	margin-bottom:80px;

	.ceoImg img{
		float:right;
		height: 250px;
		width: auto;
		margin-right: 100px;
		margin-top: 50px;
		border:3px dashed $secondaryColor;
		border-radius: 50%;
	}
	.ceoBio {
		//margin-left: 25px;
		text-align: center;
		p {
			text-align: right;
			font-size: 23px;
			width: 90%;
		}
		h2 {
			//margin-left: -75px;
			text-align:left;
		}
	}
}

.collab {
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	h2 {
		font-size: 28px;
		color:lighten($secondaryColor,10);
		}

	.DNR img, .brookvilleLake img, .ainsleyCafe img, .harborLinks img {
		background-color: lighten($secondaryColor,10);
		border-radius:5px;
		padding: 10px;
		margin-top: 10px;

	}
	ul{
		li{
		list-style: none;
		h3 {
			font-family: "Oswald";
			font-size:25px;
			color: $secondaryColor;
			}
		a {
			color: $primaryColor;
		}
		}
	}
	img {
		height: 100px;
		width: auto;
	}
	p {
		font-size: 23px;
	}
}
.Bayliner img, .Stingray img, .SabreYachts img, .Searay img {
		background-color: lighten($secondaryColor,10);
		border-radius:5px;
		padding: 10px;
		margin-top: 10px;


	}
	ul{
		li{
		list-style: none;
		text-align: center;
		h3 {
			font-family: "Oswald";
			font-size:25px;
			color: $secondaryColor;
			}
		a {
			color: $primaryColor;
		}
		}
	}
	img {
		height: 100px;
		width: auto;
	}
.Searay img {
	width:50%;
}

.Companies {
	text-align:center;
	margin-top:30px;
	margin-bottom:30px;
	h3 {
		font-size: 25px;
		color:lighten($secondaryColor,10);
		}
	p {
		font-size: 23px;
	}
	
}

@media only screen and (max-width: 990px) {
	.history {
		margin-left: 0px;
	}
	.ceo, .ceoBio {
		margin-left: 0px;
	}

	.ceoBio h2, .ceoBio p{
		margin-left: 20px;
	}
}

@media only screen and (max-width: 770px) {
	.history {
		margin-left: 0px;
	}
	.ceo, .ceoBio {
		margin-left: 0px;
	}

	.ceoBio h2, .ceoBio p{
		margin-left: 30px;
	}
}

@media only screen and (max-width: 370px){
	.history {
		margin-left: 0px;
		p{
			font-size: 16px;
		}
	}
	.ceo{
		margin-left: 0px;
		.ceoBio{
			margin-left: 0px;
			p{
				font-size: 16px;
			}
		}
	}

	.collab, .Companies {
		ul {
			padding-left:0px;
		}
	}

	.collab {
		p {
			font-size: 16px;
		}
	}
	.Companies {
		p{
			font-size: 16px;
		}
	}
}