label {
	margin-top: 10px;
	color:$primaryColor;

	h3 {
		color:$secondaryColor;
	}
}

.btn-lg {
	float:right;
	margin-right:100px;
	margin-top:-50px;
}

.login button {
	margin-top:20px;
}

.Password input, .Username input {
	width:50%;
	margin-top:5px;
}

.content{
	background-color:lighten($secondaryColor,10);
	height:250px;
	border-radius: 5px;
	margin-top: 10px;
	margin-left:50px;
	margin-bottom: 30px;
}

.notch {
	position: absolute;
    top: 21px;
    left: -20px;
    margin: 0;
  	border-top: 20px solid transparent;
 	border-bottom: 20px solid transparent; 
  	border-right:20px solid $secondaryColor;
    padding: 0;
    width: 0;
    height: 0;
}

.header {
	margin-top:-10px;
	display: inline-block;
	
	h3 {
		border-bottom:1px solid white;
  		padding-bottom:15px;
  		color: white;
   		}

   	h4 {
   		color: white;
   		opacity: 0.5;
   		float:right;
   		margin-top: -50px;
   	}
}

.top {
	padding-top:10px;
	
	.bottom {
	margin-top:15px;
	margin-left:5px;
	color:white;
	}
}

.blog {

	color:white;
}