$primaryColor: #69D2E7;
$secondaryColor: #FA6900;
$tertiaryColor:#E0E4CC;
$quadraryColor:#A7DBD8;

@import "about";

@import "product";

@import "blog";


.container-fluid {
	width:100%;
	//background-color:$tertiaryColor;
}

.Header {
	display:inline-block;
	width:100%;
	margin:0;
	border-bottom:1px solid $secondaryColor;
	ul {
		position: relative;
		top:90px;
		margin-left:20px;
		float:right;

		li{
			display: inline-block;
			font-size: 24px;
			margin-left: 40px;
			margin-bottom: 0px;
			font-family: "Oswald", sans-serif;
			text-transform: uppercase;


			a {
				color:$secondaryColor;
			}
		}
	}
}


.topContent {
	//margin-left:140px;
	.imgSlider {
		
	}

}

.logo {
	margin-top:30px;
	margin-left:40px;
	display:inline-block;
	img {
		height:140px;
		margin-left: 198px;
		margin-top: -135px;
	}
	.font {
		//margin-top: -24px;
		margin-left: -2px;

		h2 {
			font-size: 28px;
			width:200px;
			color:lighten($secondaryColor,10);

		}
		.subfont {
			font-size:63px;
			color: $primaryColor;
			margin-top: -25px;
			margin-left: -3px;
		}
	}
}

.middleContent {
	//background-color:$secondaryColor;
	width:100%;
	margin-top:80px;

}


.slider {
	//border:2px solid red;
	height:400px;
	margin-top:40px;


	img {
		height:400px;
	
	}
.bx-viewport {
	height:400px;
	style:none;

	}
}
.bx-wrapper {
	height:400px;
	}

.infoBox {
	margin-top:35px;
	float:right;
	text-align:center;

	h1{
		font-size: 38px;
		color: $secondaryColor;
	}

	p {
		font-size: 18px;
		text-align: right;
		margin-top:-10px;
	}

	.purchase {
		height:40px;
		//width: 100px;
		float:right;
		border-radius:3px;
		background-color:$primaryColor;

		h3 {
			font-size: 16px;
			margin-top: 3px;
		}

	}

}


.twitter-timeline {
	float:right;
	margin-right: 100px;


}

footer {
	text-align:center;
	height:150px;
	margin-top:50px;
	border-top:2px solid $secondaryColor;

	.bufferFoot{
		padding-top: 10px; 
		padding-bottom:30px;
		//height:80%;
		width:auto;
		
	}
	.left {
		//height:80%;
		margin-top: 10px;
		h3 {
			color:$secondaryColor;
		}
		p{
			font-size: 18px;
			color:darken($primaryColor,20);
		}
		a{
			color:$secondaryColor;
		}
	}

	.center {
		border-left:2px dotted grey;
		border-right:2px dotted grey;
		margin-top: 20px;
		height:210px;
		padding-left:20px;
		padding-right:20px;

		.font {
			font-size: 40px; 
			//font-family: "Oswald", sans-serif;
			margin-top: 60px;
			margin-left: 30px;
		}
		.subfont {
			font-size:63px;
			color: $primaryColor;
			margin-top: -25px;
			margin-left: -3px;
		}
		img {
			height:60%;
			//width: 35%;
			margin-top:-130px;
			margin-right:-2px;

		}
	}
	.right {
		margin-top: 60px;
		p{
			font-size: 18px;
		}
		.socialFoot{
			//margin-right:190px;
			margin:auto;
			display:inline-block;
		}
		.twitterIcon, .facebookIcon {
			margin-top: 0px;
			margin-left: 5px;
			margin-right: 0px;
		}
	}
	
}



.blogcontent {
	margin-left:-20px;

}
.blogButton {
	position:absolute;
	bottom:-20px;
	right:90px;
	height:40px;
	background-color:$primaryColor;
	//height:40px;
	//border-radius:5px;
}

.blogWire{
	//display:inline-block;
}

.content{
	background-color:lighten($secondaryColor,10);
	height:250px;
	width:92%;
	border-radius: 5px;
	margin-top: 10px;
	margin-left:10px;
	margin-bottom: 30px;
}

.notch {
	position: absolute;
    top: 21px;
    left: -20px;
    margin: 0;
  	border-top: 20px solid transparent;
 	border-bottom: 20px solid transparent; 
  	border-right:20px solid $secondaryColor;
    padding: 0;
    width: 0;
    height: 0;
}

.header {
	margin-top:-10px;
	display: inline-block;

	
	h3 {
		border-bottom:1px solid white;
  		padding-bottom:15px;
  		color: white;
   		}

   	h4 {
   		color: white;
   		opacity: 0.5;
   		float:right;
   		margin-top: -50px;
   	}
}

.top {
	padding-top:10px;
	
	.bottom {
	margin-top:15px;
	margin-left:5px;
	color:white;
	}
}


.emailForm {
	margin-top:30px;
	margin-bottom:20px;
	margin-left:0px;

	textarea {
	width:300px;
	height:80px;
	}
}

.blog {

	color:white;
}

#map {
  height:350px;
  width: 500px;
  margin-top:60px;
  margin-bottom:30px;
  margin-left:40px;
}

a {
	color:white;
}

.Dallas {
  font-size: 18px;
  text-align: center;
  margin-top: 45px;

  i {
  	margin-top:5px;
	font-size:20px;
	color:$secondaryColor;
	}
  p {
	font-size:20px;
	a {
  	color: $primaryColor;
  	}
  }
  h3 {
  	font-size: 26px;
  	margin-top:10px;
  }

}

.Contact {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}

form {
  text-align: center;
}
#blogTitle {
  width:400px;
}
#blogContent {
  height: 200px;
  width:800px;
}

.widgetWe {
	display: block;
	margin:auto;
	float:right;
	margin-right:10px;
	margin-top:20px;
}

.aw-widget-content {
	height:110px;
	width:120px;
}

.aw-temp-time-desc {
	margin-left:30px;
}

#link_get_widget {
	display:none;
}

.aw-current-weather-inner {
	height:100px;
	width:120px;
	span {
		display: none;
	}
	p {
		visibility: hidden;
	}

}

.aw-icon {
	position:absolute;

	//left:-40px;
}

.aw-temperature-today {
	visibility:visible;
	position:absolute;
	top:-35px;
	left:35px;
	//font-size:100px;
}

.aw-widget-current-inner {
	width:100px;
}

.twitterIcon, .facebookIcon {
  height:30px;
  width:30px;
  //margin-left: 30px;
}

@media only screen and (max-width: 1200px) {
	.links {
		ul{
			margin-right: -70px;
			top:-60px;
			li{
				margin-left: 18px;
			}
		}
	}
}

@media only screen and (max-width: 990px) {
	.twitter, .infoBox, .slider {
		margin-left: 0px;
		margin-top: 30px;
	}

	.Header {
		height: 140px;
	}

	.links {
		ul {
			top:-70px;
			margin-right: 20px;
			li{
				margin-left: 10px;
			}
		}
	}

	.topContent .slider {
		margin-left: 0px;
	}

	.infoBox {
		.purchase {
			position: relative;
			float:left;
			margin-left: 400px;
		}
		p {
			text-align: center;
		}
	}

	.blogWire {
		margin-top: 50px;
		margin-left: -50px;
	}

	.header {
		width: 800px;
	}

	.blogWire {
		margin-left: 30px;
	}

	.blogButton {
		right:110px;
	}

	.twitter-timeline {
		margin-right: 280px;

	}
}

@media only screen and (max-width:770px) {
	.Header {
		ul{
			li {
			font-size: 20px;
			margin-left: 10px;
			}
		}
		
	}
	.purchase {
		position: relative;
		margin-left: 0px;
	}
	.header {
		width: 600px;
	}
	#twitter-timeline {
		float:right;
		margin: 0px;
	}
}

@media only screen and (max-width:360px) {
	.Header {
		ul{
			li {
			font-size: 10px;
			margin-left: 3px;
			margin-top: 60px;
			}
		}
		
	}
	.logo {
		.font{
			h2 {
			font-size: 15px;
			margin-top: 20px;
			margin-left: -12px;
		}
		.subfont {
			font-size: 30px;
			margin-top: -16px;
		}

		}
		img {
			margin-left: 93px;
			margin-top: -90px;
			height:80px;
		}
	}

	.infoBox {
		margin-left: 230px;
		h1 {
			font-size: 30px;
			width: 100%;
			//margin-right: -230px;
		}
		p{
			font-size: 12px;
			width: 100%;
			//margin-right: -230px;
		}
		.purchase {
		margin-left: 60px;
	}
	}

}
