$primaryColor: #69D2E7;
$secondaryColor: #FA6900;
$tertiaryColor:#E0E4CC;
$quadraryColor:#A7DBD8;

@import "about";

@import "product";

@import "blog";


.Header {
	display:inline-block;
	width:100%;
	margin:0;
	border-bottom:1px dotted $secondaryColor;
	ul {
		position: relative;
		top:90px;
		margin-left:20px;
		float:right;

		li{
			display: inline-block;
			font-size: 26px;
			margin-left: 48px;
			margin-bottom: 0px;
			font-family: "Oswald", sans-serif;
			text-transform: uppercase;


			a {
				color:$secondaryColor;
			}
		}
	}
}

.container {
	//padding-left:20px;
}

.topContent {
	margin-left:140px;
}

.logo {
	margin-top:30px;
	margin-left:40px;
	display:inline-block;
	img {
		height:140px;
		margin-left: 198px;
		margin-top: -135px;
	}
	.font {
		//margin-top: -24px;
		margin-left: -2px;

		h2 {
			font-size: 28px;
			width:200px;
			color:lighten($secondaryColor,10);

		}
		.subfont {
			font-size:63px;
			color: $primaryColor;
			margin-top: -25px;
			margin-left: -3px;
		}
	}
}

.middleContent {
	//background-color:$secondaryColor;
	width:100%;
	margin-top:50px;
}

.slider {
	margin-top:60px;
	
}


.infoBox {
	margin-top:35px;
	margin-left:50px;
	text-align:center;

	h1{
		font-size: 48px;
		color: $secondaryColor;
	}

	p {
		font-size: 20px;
		text-align: right;
		margin-top:-10px;
	}

	.purchase {
		height:40px;
		//width: 100px;
		float:right;
		border-radius:3px;
		background-color:$quadraryColor;

		h3 {
			font-size: 16px;
			margin-top: 1px;
		}

		a {
			color: white;
		}

	}

}


.twitter-timeline {
	float:right;
	margin-right: 170px;
	

}

footer {
	text-align:center;
	border-top:2px solid $secondaryColor;
	.bufferFoot{
		padding-top: 10px; 
		padding-bottom:30px;
		height:80%;
		width:auto;
	}
	.left {
		height:80%;
		margin-top: 20px;
		h3 {
			color:$secondaryColor;
		}
		p{
			font-size: 18px;
			color:darken($primaryColor,20);
		}
	}

	.center {
		border-left:2px dotted grey;
		border-right:2px dotted grey;
		margin-top: 40px;
		height:210px;
		padding-left:20px;
		padding-right:20px;

		.font {
			font-size: 40px; 
			//font-family: "Oswald", sans-serif;
			margin-top: 60px;
			margin-left: 130px;
		}
		.subfont {
			font-size:63px;
			color: $primaryColor;
			margin-top: -25px;
			margin-left: -3px;
		}
		img {
			height:60%;
			//width: 35%;
			margin-top:-130px;
			margin-right:-2px;

		}
	}
	.right {
		margin-top: 90px;
		p{
			font-size: 18px;
		}
		.socialFoot{
			margin-right:190px;
		}
		.twitterIcon, .facebookIcon {
			margin-top: 0px;
			margin-left: 5px;
			margin-right: 0px;
		}
	}
	
}



.blogcontent {
	margin-left:90px;

}
.blogButton {
	position:absolute;
	bottom:-20px;
	right:40px;
	height:40px;
	background-color:$quadraryColor;
	//height:40px;
	//border-radius:5px;
	}

.blogWire{
	//display:inline-block;
}

.content{
	background-color:lighten($secondaryColor,10);
	height:250px;
	width:92%;
	border-radius: 5px;
	margin-top: 10px;
	margin-left:50px;
	margin-bottom: 30px;
}

.notch {
	position: absolute;
    top: 21px;
    left: -20px;
    margin: 0;
  	border-top: 20px solid transparent;
 	border-bottom: 20px solid transparent; 
  	border-right:20px solid $secondaryColor;
    padding: 0;
    width: 0;
    height: 0;
}

.header {
	margin-top:-10px;
	display: inline-block;

	
	h3 {
		border-bottom:1px solid white;
  		padding-bottom:15px;
  		color: white;
   		}

   	h4 {
   		color: white;
   		opacity: 0.5;
   		float:right;
   		margin-top: -50px;
   	}
}

.top {
	padding-top:10px;
	
	.bottom {
	margin-top:15px;
	margin-left:5px;
	color:white;
	}
}

.blog {

	color:white;
}

#map {
  height:400px;
  width: 600px;
}

.Dallas {
  font-size: 18px;
  text-align: center;
  margin-top: 80px;
}

.Contact {
  margin-top: 20px;
  margin-bottom: 20px;
}

form {
  text-align: center;
}
#blogTitle {
  width:400px;
}
#blogContent {
  height: 200px;
  width:800px;
}

.twitterIcon, .facebookIcon {
  height:30px;
  width:30px;
  //margin-left: 30px;
}
